<% config = Spree::BestSellersConfiguration.new %>
<% if (config.has_preference?(:show_best_sellers) && config[:show_best_sellers]) && @best_sellers.present? %>
  <div id="best-sellers" class="container" data-hook>
    <div class="title-wrap text-center">
      <div class="title">Best Sellers</div>
      <div class="sm-title">All Natural and Organic Products</div>
      <%= link_to "See All Best Sellers", best_seller_path, class: "btn btn-primary" %>
      </div>
      <div class="row narrow-row">
        <%= render partial: 'spree/shared/home_product', locals: { products: @best_sellers,taxon: @taxon } %>
      </div>  
    <% reset_cycle("classes") %>
  </div>
<% end %>